*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
}

/* Estilos al NAV */

.nav{
	width: 100%;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	justify-content: space-between;
	box-shadow: 7px 7px 10px #E8E8E8;
}

.nav__logo{
	width: 70%;
	padding-right: 4rem;

}

.icon-mobile{
	width: 13%;
	padding-left: 2rem;
}

.logo__image{
	width: 100%;
}

.icon__image{
	width: 100%;
}